{% extends 'demo/main.html' %}
{% load static %}
{% block content %}
<h3 class = "title">All Employees</h3>

<div class="table">
	<table id="employee_list">
		<tr>
			<th>SESA ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>Update/Delete</th>
		</tr>
		{% for employee in employee_list %}
		<tr>
			<td>{{employee.sesa_id}}</td>
			<td>{{employee.first_name}}</td>
			<td>{{employee.last_name}}</td>
			<td>{{employee.gender}}</td>
			<td>
                    <a class="btn btn-success" title="Update" href="{% url 'employee_update' employee.emp_no %}" role="button"><i class="material-icons">edit</i></a>
                    <a class="btn btn-success"  title="Delete" href="{% url 'employee_delete' employee.emp_no %}" role="button"><i class="material-icons">delete</i></a>
            </td>
				</tr>	
		{% endfor %}
	</table>
	<br><br>
			<a class="btn btn-success"  href="{%url 'employee_create' %}">Create New Employee</a>
</div>

{% endblock content %}